/**
 * Reset and helper styles / utility classes
 */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.h-screen {
	height: 100vh;
}

.center {
	justify-content: center;
}
.cover {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}

.canvas {
	position: relative;
}

html main {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

html .margin-auto {
	margin: auto;
	float: none;
}

ul {
	margin: 0;
	padding: 0;
}

/**
 * Form styles
 */
form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.form-row {
	position: relative;
	display: flex;
	width: 100%;
	gap: 0.75rem;
	flex-direction: column;
}

.form-field {
	width: 100%;
	padding-bottom: 1.25rem;
}

.form-error {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}

@media only screen and (min-width: 600px) {
	.form-row {
		flex-direction: row;
	}
}

/**
 * Table styles
 */
table {
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
}

th::before,
td::before {
	display: none;
}

.td--small {
	width: 60px;
}

td svg {
	width: 10px;
	height: 10px;
}

@media only screen and (max-width: 600px) {
	tr {
		display: flex;
		flex-direction: column;
	}

	.w3-table td,
	#locations .w3-table th {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: right;
		padding-left: 100px;
		position: relative;
		text-align: right;
		height: 50px;
		vertical-align: baseline;
	}

	td::before,
	th::before {
		content: attr(data-title);
		width: 33%;
		min-width: 100px;
		display: inline-flex;
		position: absolute;
		left: 0;
		text-align: left;
		height: 100%;
		align-items: center;
	}

	.td--small {
		width: 100%;
	}
}

/**
 * Header and Navigation styles
 */

.header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	min-height: 50px;
	width: 100%;
}

.navigation {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.navigation-toggle,
.navigation-input {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	width: 50px;
	display: block;
}

.navigation-toggle {
	padding: 10px;
	cursor: pointer;
}

.navigation-input {
	appearance: none;
	z-index: -1;
}

.navigation-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation-input + .navigation {
	display: none;
}

.navigation-input:checked + .navigation {
	display: block;
}

.navigation-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50px;

	text-decoration: none;
	padding: 0 20px;
}

@media only screen and (min-width: 600px) {
	.navigation-list {
		flex-direction: row;
	}

	.navigation-input + .navigation {
		display: flex;
		flex-direction: row;
	}
}
