.form-row {
  margin-bottom: 0.75rem;
  padding-bottom: 1.25rem;
  position: relative;
}

.form-error {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

td svg{
  width: 10px;
  height: 10px;
}

img{
  max-width: 100%;
  width: 100%;
  height: auto;
}